#time, #date, #village, #temperature, #weatherCond, #description {
	height: 100%;
	font-size: 9vh;
	color: white;
	margin-top: 0;
	font-weight: bold;
}

#temperature, #weatherCond {
	font-size: 4vh;
}

#description {
	font-size: 3.5vh;
}