html, body {
	margin: 0 !important;
	padding: 0 !important;
}

main {
	display: grid;
	grid-template-columns: 10% 70% 20%;
	grid-auto-rows: 10vh 10vh 70vh 10vh;
}

#headerbelt {
	background: red;
	grid-column: 1 / 3;
	grid-row: 1;
	display: grid;
	grid-template-columns: repeat(1fr, 1fr, 2fr);
	/*grid-auto-rows: 10vh 10vh 70vh 10vh;*/
}

#time {
	grid-column: 1;
}

#date {
	grid-column: 2;
}

#village {
	grid-column: 3;
}

#mainsection {
	background: white;
	grid-column: 1 / 4;
	grid-row: 2 / 4;
}

#bottombelt {
	background: red;
	grid-column: 1 / 4;
	grid-row: 4;
}

#leftpanel {
	
	display: none;
}

#rightpanel {
	background: red;
	grid-column: 3;
	grid-row: 1 / 5;
	display: grid;
	grid-template-rows: 0 4.5vh 200px repeat(2, 4.5vh);
	/*grid-template-rows: 100%;*/
}

#weatherCond {
	grid-row: 2;
}

#weatherIcon {
	grid-row: 3;
}

#temperature {
	grid-row: 4;
}

#description {
	grid-row: 5;
}